



#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 0px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.white-panel h4 {
  font-size: $type-size-5;
  margin-top: 0.5em !important;
  padding-left: 10px;
  padding-right: 10px;
}
.date_text {
  font-size: $type-size-7;
  margin: 0px 0px 0px 0px !important;
  color: #3091ff ;
  padding-left: 10px;
  padding-right: 10px;
}

.read_time{
  font-size: 0.6rem;
  margin: 3px 0px 0px 0px !important;
  color: #7f7f7f !important;
  padding-left: 10px;
  padding-right: 10px;
}

.card_excerpt {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
  font-size: $type-size-6;

  & + p {
    text-indent: 0;
  }
}

/* Colors
*/

// Blue Accent
$accent1            : #8ED3F4 !default;
$accent2            : #E4EBF2 !default;
$accent3            : #328DAA !default;
$accent4            : #8A8683 !default;
$accent5            : #5A4D4C !default;

// Winter with red barn
// $accent1            : #E0E8F0 !default;
// $accent2            : #5182D9 !default;
// $accent3            : #53C0F0 !default;
// $accent4            : #B9E5F3 !default;
// $accent5            : #8A140E !default;

// Czech Architecture
// $accent1            : #14325C !default;
// $accent2            : #5398D9 !default;
// $accent3            : #F4E3B1 !default;
// $accent4            : #D96B03 !default;
// $accent5            : #A53A3B !default;