/* ==========================================================================
   MASTHEAD
   ========================================================================== */

/* added by IP_v1 */
$head-primary: #666666 ;
$head-secondary: #00a78e ;
$theme-primary: #fdcc52 ;

.masthead {
  position: relative;
  /* background-color: #e91e63; */

  /* added by IP_v1 */
  // background: url("/assets/images/bg-pattern.png"), $head-primary;
  /* fallback for old browsers */
  // background: url("/assets/images/bg-pattern.png"), -webkit-linear-gradient(to left, $head-primary, $head-secondary);
  /* Chrome 10-25, Safari 5.1-6 */
  // background: url("/assets/images/bg-pattern.png"), linear-gradient(to left, $head-primary, $head-secondary);
  
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    display: -webkit-box;
    display: flex;
    
    -webkit-box-pack: justify;
     justify-content: space-between;
    padding: 12px 12px 12px; /* 1em 1em 1em;  IP_v1*/
    font-family: $sans-serif-narrow;
    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
      color: #000000 !important; /* Make it white IP_v1 */
    }
  }
}

.site-title {
  display: -webkit-box;
  display: flex;
  padding: 0.5rem 0;
  align-self: stretch;
  -webkit-box-align: center;
        align-items: center;
  font-weight: bold;
  z-index: 20;
  color: $head-secondary !important; /* Make it white IP_v1 */
}

.masthead__menu {
  width: 100%;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  
  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}